<!DOCTYPE html>

<head>
	<!-- <link rel="stylesheet" type="text/css" href="main.css"> -->
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="https://raw.github.com/jquery/jquery-ui/master/tests/jquery.simulate.js"></script>

	
	<style>
	.pic {
 		position:absolute;
	}
	
	</style>
</head>


<body>

this is {{serial}}

{% for m in media %}
		<img class="pic" src="{{m.images['standard_resolution'].url}}" alt="{{m.caption.text}}">

<script>
	(function () {

  		var count = 0;
		$('.pic').click(function () {
		    count += 1;
	    if (count == 20) {
        	location.reload();
    	}
  		});
	})();

	// $(".pic").on (keyup, function(e){
	// 	var code= e.which;
	// 	if (code == 37) { 
	// 		// $(this).trigger('click');
	//     	$(this).animate({"left": "-=700px"});
	//     }
	//     else if(code == 39) {
	// 		// $(this).trigger('click'); 
	//     	$(this).animate({"right": "-=1900px"}, "100");
	//     }
	// });

// var serial = 0;
// setInterval(function() {
// 	 serial = {{serial}};
// }, 2000);

// console.log({{serial}})

var serial = {{serial}};

if ( serial == 1 ) {
	// $(".pic").(function(e){
		// if (e.which == 1) { 
		$('.pic').animate( {"left": "-=700px"} );
		console.log("it's 1");
		$('.pic').click( function(e){
    		$(this).animate( {"left": "-=700px"} );
})
	}
//  // else if (e.which == 3) { 
else if ( serial == 2 ) {
			// $('[class^="pic"]').on("contextmenu", function(evt) {evt.preventDefault();});
			// e.preventDefault()
	//$('.pic').animate( {"right": "-=1900px"}, "100" );
	console.log("it's 2");
	    }
	//});

// this works
// $('.pic').click(function(e){
// 	if (e.which == 1) { 
// 		$(this).animate( {"left": "-=700px"} );
// 		console.log(e.which);
// 	}
// 	else if (e.which == 2) { 
// 		e.preventDefault()
// 		$(this).animate( {"right": "-=1900px"}, "100" );
// 		console.log(e.which);
// 	   	}
// });

// if ( serial == 1 ) {
// 	$('.pic').trigger( {'click'} );
// 	console.log("hi");
// }
// else if ( serial == 2 ) {
// 			// $('[class^="pic"]').on("contextmenu", function(evt) {evt.preventDefault();});
// 			// e.preventDefault()
// 	$('.pic').trigger( {'click', 2} );
// 	    }
// 	});


</script>

{% endfor %}


</body>


</html>